---
layout: page
---

{{ content }}

{% assign posts = paginator.posts | default: site.posts %}


<ul class="posts-list list-unstyled" role="list">
  <li class="post-preview">
    Below you can fill in the form to switch groups for an UvA course.<br>
    Make sure to only submit for your duo once!<br>
    <br>
    The deadline for Matching is Wednesday at 17:00
    We will publish the results on <a href=https://janhutter.github.io/Matching/MatchingResult>this page</a>.
    </li>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfQI0WAlBfmRR8i8YPnWYeXlHqdX7Kp2wC54HVZ_1OAdPx1lg/viewform?embedded=true" width="100%" height="1873" frameborder="0" marginheight="0" marginwidth="0">Laden…</iframe>
